{% extends 'base/base.html' %}

{% block content %}
{% if request.path == '/admin_alle_collections/'%}
<h1>Alle  Afhalingen</h1>
{% else %}
<h1>Afhalingen die goedgekeurd kunnen worden.</h1>
{% endif %}
{% if collections %}
<div class="vertical-link-container">
  {% for collection in collections %}
  <a class="vertical-link" href="{% url 'admin_approve' collection.id %}">{{collection.date}}</a>
  {% endfor %}
</div>
{% else %}
<p>Er zijn geen afhalingen die goedgekeurd moeten worden.</p>
{% endif %}
{% endblock %}