{% extends 'base/base.html' %}

{% block content %}
    <h1>Pas aan</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <form method="POST" action="{% url 'admin_delete_medicine' medicine.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete Medicine">
    </form>
    {% comment %} maak een button voor het  aanmaken van een afhaal actie met dezer medicijn{% endcomment %}
    <form method="POST" action="{% url 'afhaal_medicijn' medicine.id %}">
        {% csrf_token %}
        <input type="submit" value="+ Afhaal">
    </form>
{% endblock %}
