{% extends 'base/base.html' %}

{% block content %}
<h1>Voeg een nieuwe afhaal actie toe</h1>
{% if medicijn %}
<form method="POST">
    {% csrf_token %}
    <label for="{{ form.medicine.id_for_label }}">Medicine:</label>
    {{ form.medicine.as_hidden }}
    <input type="text" name="medicine" value="{{ medicijn }}" readonly>
    <label for="{{ form.user.id_for_label }}">User:</label>
    {{ form.user }}
    <label for="{{ form.date.id_for_label }}">Date:</label>
    {{ form.date }}
    <p><span class="help-text">Vul de datum in deze format in: YYYY-MM-DD.</span></p>
    <input type="submit" value="Toevoegen">
</form>
{% else %}
<form method="POST">
    {% csrf_token %}
    <label for="{{ form.medicine.id_for_label }}">Medicine:</label>
    {{ form.medicine }}
    <label for="{{ form.user.id_for_label }}">User:</label>
    {{ form.user }}
    <label for="{{ form.date.id_for_label }}">Date:</label>
    {{ form.date }}
    <p><span class="help-text">Vul de datum in deze format in: YYYY-MM-DD.</span></p>
    <input type="submit" value="Toevoegen">
</form>
{% endif %}
{% endblock content %}