{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Apotheek{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    {% block csslinks %}{% endblock csslinks %}
</head>

<body>
    {% include 'base/menu.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="messages">
        {% if message.tags == 'error' %}
        <div class="error">error: {{ message }}</div>
        {%else%}
        <div class="success">success: {{ message }}</div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</body>

</html>