{% extends 'base/base.html' %}

{% block content %}
<h1>Afhaal Details</h1>
<p><strong>Medicijn:</strong>
  <a id="detail" href="{% url 'medicijn_gegevens' collection.medicine.id %}">{{ medicine_name }}</a>
</p>

<p><strong>Afhaal Datum:</strong> {{ collection.date }}</p>
{% if user.is_staff %}
<p><strong>Patient:</strong>
  <a id="detail" href="{% url 'user_collection' collection.user.id %}">{{ naam }}</a>
</p>
{% endif %}
{% if collection.collected %}
<p><strong>Medewerker goedkeuring:</strong> {{ collection.collectedapproved }}</p>
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save</button>
</form>

{% if user.is_staff %}
<form method="POST" action="{% url 'collection_delete' collection.id %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endif %}
{% endblock %}