{% extends 'base/base.html' %}

{% block content %}
  <h1>Medicine Detail</h1>
  <p><strong>Name: </strong>{{ medicine.name }}</p>
  <p><strong>Manufacturer: </strong>{{ medicine.manufacturer }}</p>
  <p><strong>Cures: </strong>{{ medicine.cures }}</p>
  <p><strong>Side Effects: </strong>{{ medicine.sideeffects }}</p>
  <a href="{% url 'admin_edit_medicine' medicine.pk %}" class="btn btn-primary">Edit Medicine</a>




{% endblock %}

{% comment %} {% extends 'base/base.html' %}

{% block content %}
<div class="user-info">
    {% for data in gegevens %}
    <strong>Naam: </strong> {{ data.name }}<br>
    <strong>Manufacturer: </strong> {{ data.manufacturer }}<br>
    <strong>Cures: </strong> {{ data.cures }}<br>
    <strong>Sideeffects: </strong> {{ data.sideeffects }}<br>
    <strong>{{ collection_label }}</strong> {{ collection_count }} keer<br>
    <br>
    {% endfor %}
</div>
{% endblock content %} {% endcomment %}

