{% extends 'base/base.html' %}

{% block content %}
<h1>Medicijn Detail</h1>
<p><strong>Naam: </strong>{{ medicine.name }}</p>
<p><strong>Fabrikant: </strong>{{ medicine.manufacturer }}</p>
<p><strong>Genezingen: </strong>{{ medicine.cures }}</p>
<p><strong>Bijwerkingen: </strong>{{ medicine.sideeffects }}</p>
{% if not request.user.is_staff %}
<!-- zorg ervoor dat hier een count komt voor user aantal opgehaald -->
<p><strong>Aantal keer afgehaald door u: </strong>{{ user_count }}</p>
{% endif %}
{% if user.is_staff %}
<p><strong>Aantal keer afgehaald: </strong>{{ admin_count }}</p>
<div class="link-container">
  <a class="link" href="{% url 'admin_edit_medicine' pk=medicine.pk %}" class="btn btn-primary">Aanpassen / Afhaal
    aanmaken</a>
</div>
{% endif%}




{% endblock %}