<div class="MenuBar">
    <a><img class="special" id="logo" src="../static/base/images/logo.jpg"></a>
    {% if user.is_authenticated %}
    {% comment %} <a href="#">Home</a>  {% endcomment %}
    <a href="{% url 'logout'%}">logout</a>
      {% if user.is_staff %}
      {% comment %} speciale pages voor admin {% endcomment %}
      {% endif %}
    {% else %}
    {% if request.path == '/login/' or request.path == '/register/' %}
    <a href="{% url 'index' %}">Terug gaan</a>
    {% endif %}
    <a href="{% url 'register'%}">registreer</a>
    <a href="{% url 'login'%}">login</a>
    {% endif %}
  </div><!-- MenuBar eindigt hier -->