<div class="MenuBar">
  {% load static %}  <!-- Add this line -->
  <img class="special" id="logo" src="{% static 'base/images/logo.jpg' %}">
    {% if user.is_authenticated %}
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'user' %}">Eigen gegevens</a>
    <a href="{% url 'logout'%}">logout</a>
      {% if user.is_staff %}
      {% comment %} speciale pages voor admin {% endcomment %}
      {% endif %}
    {% else %}
    {% if request.path == '/login/' or request.path == '/register/' %}
    <a href="{% url 'index' %}">Terug gaan</a>
    {% endif %}
    <a href="{% url 'register'%}">registreer</a>
    <a href="{% url 'login'%}">login</a>
    {% endif %}
  </div><!-- MenuBar eindigt hier -->